.card{
    height: 350px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.card-img-top{
    width: 75%;
}